@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    background: url('images/background1.png') repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.header {
    position: fixed;
    max-height: 80px;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: rgba(255, 255, 255, .1);
    display: flex;
    z-index: 10;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
    border-bottom: 2px solid rgba(255, 255, 255, .2);
}

.logo {
    color: #1E90FF;
    font-size: 35px;
    text-decoration: none;
    font-weight: 700;
    font-weight: bold;
    cursor: default;
}

.logo p{
    color: #0368A5;
    font-family: cursive;
    font-size: 15px;
    text-decoration: none;
    cursor: default;
}

.navbar a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover {
    color: #f00;
}

/* .slider {
    width: 15%;
    height: 500px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-5%, -50%);
    background-image: url('images/prasanna1.png');
    background-size: 100% 100%;
    box-shadow: 1px 2px 10px 5px white;
    animation: sliders 8s infinite steps(1);
}

@keyframes sliders{
    0%{ 
        background-image: url('images/prasanna1.png'); 
    }
    25%{
        background-image: url('images/prasanna2.png');
    }
    50%{
        background-image: url('images/prasanna3.png');
    }
    75%{
        background-image: url('images/prasanna4.png');
    }
}

.model {
    display: flex;
} */

.container {
    position: relative;
    top: 80px;
    height: calc(100vh - 100px - 40px); 
    text-align: center;
    margin: 20px;
}

.s-container {
    height: 600px;
    width: 75%;
    padding: 10px;
    background: rgba(255, 255, 255, .1);
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, .7);
    margin: 20px auto;
    backdrop-filter: blur(5px);
}

.ss-container {
    justify-content: center;
    text-align: left;
    display: flex;
    margin: 50px auto;
}

.s-content {
    max-width: 600px;
    margin-top: 50px auto;
}

.s-content h1 {
    font-size: 45px;
    font-weight: 700;
    color: #8d8741;
}

.s-content h2{
    margin: 10px auto;
    font-size: 35px;
    font-weight: 700;
    color: #052d46;
}

.s-content p {
    margin: 10px auto;
}