{% extends 'main.html' %}

{% block content %}

<div class="delete-container">
    <div class="delete-message">
      <h1>Delete Confirmation</h1>
      <p>Are you sure you want to delete {{obj}}?</p>
      <div class="buttons">
        <form class="form" action="" method="POST">
            {% csrf_token %}
        <button class="delete-btn" type="submit">Delete</button>
        </form>
        <button class="cancel-btn" onclick="goBack()">Cancel</button>
      </div>
    </div>
</div>

<script>
  function goBack() {
      window.history.back();
  }
</script>

{% endblock content %}