{% extends 'main.html' %}

{% block content %}
<h1>Register Employee</h1>
<!-- <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <label>Company:</label>
    <select name="company">
        {% for company in companies %}
        <option value="{{ company.company_name }}">{{ company.company_name }}</option>
        {% endfor %}
    </select><br>
    <label>Branch Code:</label>{{ form.branch_code }}<br>
    <label>Branch:</label>
    <select name="branch">
        {% for branch in branches %}
        <option value="{{ branch.branch_name }}">{{ branch.branch_name }}</option>
        {% endfor %}
    </select><br>
    <label>Employee Code:</label>{{ form.employee_code }}<br>
    <label>Phone Number:</label>{{ form.phone_no }}<br>
    <label>Image:</label>{{ form.image }}<br><br>
    <a href="{% url 'home' %}">Cancel</a>
    <button type="submit">Register Employee</button>
</form> -->
<!-- <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <label for="id_company">Company:</label>
    <select name="company" id="id_company">
        {% for company in companies %}
            <option value="{{ company.pk }}">{{ company.company_name }}</option>
        {% endfor %}
    </select><br>
    <button type="submit">Register Employee</button>
</form> -->
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <a href="{% url 'home' %}">Cancel</a>
    <button type="submit"">Register</button>
</form>
{% endblock content %}