{% load static %}

<div class="company-search">
    <form action="" class="search-bar">
        <input type="text" placeholder="Search Company" name="q">
        <button type="submit"><i class='bx bx-search'></i></button>
    </form>
    <div class="search-result">
        {% for companies in companies %}
            <a href="{% url 'company-profile' companies.id %}">
            {% if companies.company_logo %}
                <img src="{{companies.company_logo.url}}">
            {% else %}
                <img src="{% static 'styles/images/company_avatar.png' %}">
            {% endif %}
            {{companies}}</a>
        {% endfor %}
    </div>
</div>
<div class="employee-search">
    <form action="" class="search-bar">
        <input type="text" placeholder="Search People" name="r">
        <button type="submit"><i class='bx bx-search'></i></button>
    </form>
    <div class="search-result">
        {% for users in users %}
            <a href="{% url 'user-profile' users.id %}">
            {% for employees in employees %}
                {% if employees.user == users %}
                    {% if employees.image %}
                        <img src="{{employees.image.url}}">
                    {% else %}
                        <img src="{% static 'styles/images/avatar.png' %}">
                    {% endif %}
                    {{users}}
                {% endif %}
            {% endfor %}
            </a>
        {% endfor %}
    </div>
</div>