{% load static %}

<header class="header">
    <a href="{% url 'home' %}" class="logo"><img src="{% static 'styles/images/logo1.png' %}" height="55px"></a>
    
    <nav class="navbar">
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'about' %}">About-Us</a>
    </nav>

    <div class="navbar">
            {% if request.user.is_authenticated %}
                <a href="{% url 'logout' %}">Logout</a>
                <a href="#">{{request.user}}</a>
            {% else %}
                <a href="{% url 'register' %}">Register</a>
                <a href="{% url 'login' %}">Login</a>
            {% endif %}
                <!-- {% if employee.image %}
                    <a href="#"><img src="{{employee.image.url}}" height="50px"></a>
                {% endif %} -->
            {% if request.user.is_staff %}
                <a href="http://127.0.0.1:8000/admin/">Admin</a>
            {% endif %}
    </div>
    
</header>

